.banner {
    background: url('https://dogmacocktails.be/img/dogma/bar2.jpg') center center;
    height: 50vh;
    position: relative;
}
.banner__info{
    background-color: black;
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}

.banner__info > button{
    background-color: #215224;
    color: white;
    text-transform: inherit;
}
.banner__info > button:hover{
    background-color: white;
    color: #215224;
}

.banner__info > h5{
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 760px) {
    .banner__info {
        width: 100%;
        height: 45%;
        padding-top: 15px;
        padding-bottom: 170px;
        
    }

    .banner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
    }

}