.header {
    color: white;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.header::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.header {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.header__icons {
    display: flex;
    align-items: center;
    text-align: center;
}
.link {
    color: white;
    text-decoration: none;
}
.header__icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100px;
    margin-right: 30px;
}
.header__basket{
    display: flex;
    margin-left: 10px;
}
.header__basketCount{
    margin-left: 0px;
}

.header__icon > .MuiSvgIcon-root {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}
.header__icon--active > p {
    display: inline-flex !important;
}
.header__icon:hover > p {
    display: inline-flex;
}

.header__icon > p {
    display: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
}

.link > img {
    object-fit: contain;
    height: 80px;
    margin-right: 35px;
}

@media screen and (max-width: 930px) {
    .header {
        padding: 10px;
        margin-left: -12;
    }
    .link > img {
        margin-right: 10px;
        height: 40px;
    }

    .header__icon {
        width: 80px;
        margin-right: 5px;
    }

    .barResult > img {
        max-width: 95%;
    }

    .header__basket{
        margin-left: 0;
    }
}