.imageCard {
    color: white;
    width: 400px;
    height: 400px;
    padding: 20px;
    transition: transform 100ms; /* to make trasformation silky smooth */
}
.imageCard:hover {
    transform: scale(1.09);
}

.imageCard > img {
    border-radius: 15px;
    background: #f4f4f4;
    border: 3px solid #bbbbbb;

    box-shadow: 0 0 0 3px #8B2323, 
                0 0 0 6px #FF7F00, 
                0 0 0 9px #458B00;
    height: 300px;
    object-fit: contain;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
}

.imageCard > h2,h3 {
    padding-top: 5px;
}

.imageCard__info{
    display: none;
}

.imageCard:hover > .imageCard__info{
    display: inline;
}

.imageCard__drinkOrder{
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 195px;
}

.imageCard__drinkOrder > button{
    background-color: yellow;
    border: 1px solid;
    border-radius: 10px;
}

.modal{
    width: 400px;
    color: #f4f4f4;
}
.modal__header{
    background: #00B500;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__closebtn{
    cursor: pointer;
    font-size: 1.5rem;
}

.modal__body{
    padding: 1.5rem;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.modal__body > button{
    background-color: #215224;
    color: white;
    text-transform: inherit;
    margin: 15px;
}
.modal__body > button:hover{
    background-color: white;
    color: #215224;
}

.modal__confirm{
    display: flex;
    align-items: center;
    margin-left: 5px;
}

@media screen and (max-width: 860px) {
    .modal {
        max-width: 300px;
    }

}