/* basic styles */

.skeleton {
    background: #ddd;
    margin: 10px 0;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.skeleton.text {
    width: 40%;
    height: 12px
}

.skeleton.title {
    width: 50%;
    height: 20px;
    margin-bottom: 15px;
}

.skeleton.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.skeleton.thumbnail {
    width: 100px;
    height: 100px;
}
.skeleton.img {
    height: 200px;
    width: 350px;
    border-radius: 10px;
}

.skeleton__wrapper{
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.skeleton__barresult {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    
}

/* themes */

.skeleton__wrapper.light {
    background: #f2f2f2;  
}

.skeleton__wrapper.dark {
    background: #444;  
}
.skeleton__wrapper.dark .skeleton {
    background: #777;  
}

/* animation effects */

.shimmer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loading 2.5s infinite;
    overflow: hidden;
}

.shimmer {
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    transform: skewX(-20deg);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.05);
}

.dark .shimmer {
    background: rgba(255, 255, 255, 0.05);
}

@keyframes loading {
    0% { transform: translateX(-150%) }
    50% { transform: translateX(-60%) }
    100% { transform: translateX(150%) }
}

@media screen and (max-width: 960px) {
    .skeleton.text {
        width: 40%;
        height: 12px
    }
    
    .skeleton.title {
        width: 50%;
        height: 20px;
        margin-bottom: 15px;
    }

    .skeleton__wrapper {
        flex-direction: column;  
    }

    .skeleton.img {
        max-width: 95%;
    }
}